* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;
}


/* Page Layout */

.container{
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;

    display: flex;
    flex-direction: column;
}

/* Header */

header{
    color: #ef5350;
    padding: 20px 0;
    margin-bottom: 60px;

    display: flex;
    justify-content: space-between;
}

header nav {
    list-style: none;
    
    display: flex;
    align-items: baseline;
}

header nav li {
    margin-right: 15px;
}

header button {
    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* Main Section */

.main-wrapper {
    display: flex;
}

.main {
    text-align: left;
    margin-right: 60px;
    
    flex: 3;
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}

/* Sidebar */

.sidebar {
    border: 1px solid #a2a2a2;
    padding: 20px;
    flex: 1;
}

/* Footer */

footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}


@media (max-width: 600px) {
    .main-wrapper {
        flex-direction: column;
    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;
    }
}

html, body {
    height: 100%;
      font: 100%/1.5em "Varela Round", sans-serif;
}

/* body {
  flex-direction: column;
}

body,header {
    display: flex;
} */

.msg,.toolbar,form {
    display: flex;
}

.messages, blockquote {
    padding: .5em;
}

/* header {
    background-color: #374455;
    color: white;
    padding-right: 0;
    line-height: 0.5em;
} */

.contact--details__name {
    font-weight: normal;
    font-size: 1.75em;
}

.contact--details__tel {
    font-size: .875em;
}


.messages,input {
    background-color: black;
}

input {
    padding-left: .325em;
    border: none;
    color: white;
    flex: 1;
}

.msg {
    position: relative;
    margin-bottom: 2em;
}

.msg--date {
    margin-top: 0;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    background: #222;
    color: #727b80;
}

blockquote {
    border-radius: .35em;
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 60%;
}

.msg--them blockquote::after, .msg--me blockquote::before {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
}

.msg--them blockquote {
  background-color: #FFBB73;
}

.msg--them blockquote::after {
    border: .5em solid #FFBB73;
    border-color: #FFBB73 transparent transparent #FFBB73;
    top: .5em;
    right: -1em;
}

.msg--me blockquote {
  background-color: #0099cc; margin-left: 1em;
}

.msg--me blockquote::before {
    border: .5em solid #0099cc;
    border-color: #0099cc #0099cc transparent transparent;
    top: .5em;
    left: -1em;
}

form {
  background-color: #727b80; padding: 1px;
}


.messages {
  flex: 1; overflow: auto;
}

.msg--them {
  justify-content: flex-end; 
}

.msg--them blockquote {
    order: -1;
    margin-right: 1em;
}

.msg-send {
  padding: 5px;
}

.online {
  color: lightgreen;
}

.offline {
  color: red;
}